<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="Web" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString"  value="%property{LocalAppData}\\App_Data\\LOG\\Web\\'"  />
    <appendToFile value="true" />
    <DatePattern value="yyyy\\\\MM\\\\dd'.LOG.log'" />
    <rollingStyle value="Date" />
    <param name="StaticLogFileName" value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <!--<conversionPattern value="%date [%thread] %level %logger %machine - %message e:%exception%newline %newline" />-->
    </layout>
  </appender>

  <appender name="Services" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString"  value="%property{LocalAppData}\\App_Data\\LOG\\Services\\'" />
    <appendToFile value="true" />
    <DatePattern value="yyyy\\\\MM\\\\dd'.LOG.log'" />
    <rollingStyle value="Date" />
    <param name="StaticLogFileName" value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <!--<conversionPattern value="%date [%thread] %level %logger %machine - %message e:%exception%newline %newline" />-->
    </layout>
  </appender>

  <root>
    <priority value="FATAL"/>
    <!-- ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF-->
    <appender-ref ref="Web" />
    <appender-ref ref="Services"/>
  </root>

  <logger additivity="false" name="Web">
    <level value="ALL"/>
    <appender-ref ref="Web" />
  </logger>

  <logger additivity="false" name="Services">
    <level value="All"/>
    <appender-ref ref="Services" />
  </logger>

</log4net>