@using Microsoft.AspNetCore.Identity

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" >Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline"  asp-area="" asp-controller="Account" asp-action="LogOff" >
                <button type="submit" class="nav-link btn btn-link text-dark" id="lblLogout">@Resources.GetString("Logout")</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login" id="lblLogin">@Resources.GetString("Login")</a>
        </li>
    }
</ul>
